<h3>Compaines!</h3>

<div class="content-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">sliceCalories</th>
                <th scope="col">slicePrice</th>
                <th scope="col">wholePrice</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let companie of allcompanies">
                <td [routerLink]="['/companies', companie.id]">{{companie.name}}</td>
                <td>{{companie.sliceCalories}}</td>
                <td>{{companie.slicePrice}}</td>
                <td>{{companie.wholePrice}}</td>
                <!-- <td> 
                    <img [src]="companie.imageUrl" class="image-url" alt="...">
                </td> -->
               <!--  <td>
                    <a [routerLink]="['/edit', user.id]">Edit</a>
                </td> -->
                <!-- <td>
                    <a (click)="deleteUser(user.id)">Delete</a>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>