<div class="card text-center">
    <div class="card-header">
        <h5>{{pageTitle}}</h5>
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['info']" href="#">Basic Information</a>    <!--  Relative Path "['info']"   sin barra inclinada -->
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['tags']" href="#">Search Tags</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
    <div class="row mb-2">
        <div class="col-md-4">
            <button class="btn btn-outline-secondary mr-3" 
                    style="width:80px" 
                    type="button"
                    title="Cancel your edits" 
                    [routerLink]="['/products']">
                Cancel
            </button>
        </div>
    </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>