<h3>Dashboard!</h3>

<div class="content-table">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Avatar</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUsers">
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td> 
                    <img [src]="user.avatar" class="image-url" alt="...">
                </td>
                <td>
                    <a [routerLink]="['/edit', user.id]">Edit</a>
                </td>
                <td>
                    <a (click)="deleteUser(user.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>